on:
  - push
  - pull_request

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v4
      - uses: ludeeus/action-shellcheck@master
        env:
          SHELLCHECK_OPTS: -x
